<div class="w3-modal" *ngIf="mensagemService.get()">
  <div
    class="w3-modal-content w3-card-4 w3-animate-zoom"
    style="max-width: 300px"
  >
    <div class="w3-container w3-padding w3-yellow">
      <span>Aviso...</span>
    </div>
    <div class="w3-container w3-padding">
      <span>{{ mensagemService.get() }}</span>
    </div>
    <div class="w3-container w3-center w3-border-top w3-padding w3-light-grey">
      <button type="button" class="w3-button" (click)="ok()">OK</button>
    </div>
  </div>
</div>
