<nav>
  <link rel="stylesheet" href="menu.component.css" />
  <link
    rel="stylesheet"
    href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
  />
  <div class="dropdown">
    <span class="label"><i class="fi fi-rr-menu-burger"></i>Menu</span>
    <ul class="items">
      <li>
        <a routerLink="/menu"><i class="fi fi-rs-home"></i> Home</a>
      </li>
      <li>
        <a routerLink="/livros"><i class="fi fi-rs-book-alt"></i> Livros</a>
      </li>
      <li>
        <a routerLink="/funcionarios"
          ><i class="fi fi-rr-users-alt"></i> Funcionários</a
        >
      </li>
    </ul>
  </div>
</nav>
